  .posts {
  padding: 1rem 2rem;

  .MuiGrid-root {
    padding: 4rem;
  }
  .card {
    height: 100%;
    width: 100%;
    max-height: 350px;
    .card-header {
      position: relative;
      padding: 0;
      min-height: 50%;
      width: 100%;
      height: 70%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .details {
        cursor: pointer;
        position: absolute;
        font-size: 1.333rem;
        height: 26%;
        bottom: 0;
        width: 100%;
        padding: 0 1rem;
        left: 0;
        color: #fafcff;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }
    .card-body {
      height: 100%;
        overflow: hidden;
        text-overflow: clip;

      .card-title {
        font-size: 1.333rem;
        font-family: 'Lustira', 'sans-serif';
        text-decoration: underline;
        cursor: pointer;
      }
      .card-para {
        font-size: 1em;
        font-family: 'Metrophobic', 'sans-serif';
        overflow: hidden;
        text-overflow: clip;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .posts{
    .MuiGrid-root{
      width: 100% !important;
      padding: 1rem;
      margin: 0;
      // display: block;
      flex-direction: column;

      .MuiGrid-item{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
      }
      .card{
        width: 100%;
      }
      
    }
    
  }
}
